<h1 class="new{{number}}"onclick = "{$}gotofirstpage()">WELCOME TO MY BLOG!</h1>
<div class="addEmptySpace"></div>
<div id="container">
    <a onclick="{$}clearAbout()">About</a>
    <pre  id="about">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent suscipit condimentum velit at accumsan. Duis nec maximus diam. Etiam maximus facilisis lorem id 
         faucibus. Aenean rutrum interdum semper. In tincidunt turpis eros, sodales sodales ex tincidunt at. Nunc non vestibulum erat. Curabitur id lobortis ipsum. Proin 
         sodales magna id odio suscipit dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque aliquet blandit orci, id 
         mattis elit congue ut.

         In sit amet cursus magna. Sed vel bibendum ex, quis tincidunt odio. Fusce quam dolor, sagittis non diam lobortis, maximus malesuada orci. Nunc vestibulum erat 
         lorem, in accumsan est pellentesque quis. Etiam diam diam, euismod eu erat sed, luctus consectetur urna. Maecenas hendrerit feugiat turpis sed pretium. Proin 
         vehicula bibendum nibh, nec dapibus odio convallis id. Ut ac est id ipsum finibus pulvinar. Duis nec eleifend metus, id elementum odio. Sed hendrerit ut neque 
         eget tempus. Sed in sem orci. Sed tempus, dui vitae condimentum mollis, nulla nunc pharetra lectus, nec blandit nisl nulla eget magna. Fusce ut gravida tortor, 
         ac vestibulum urna. Ut ipsum velit, elementum in nunc pellentesque, volutpat consequat nisl. Mauris rutrum tempus velit, quis sollicitudin augue elementum eu.
        </pre>
</div>